{% load django_vite %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modern Django</title>
    {% vite_hmr_client %}
    {% vite_asset "src/main.ts" defer="" %}
</head>
<body>
{% if user.is_authenticated %}
    <p>Logged in as {{ user.email }}</p>
    <form action="{% url 'account_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>Click <a href="{% url 'account_login' %}">here</a> to log-in</p>
{% endif %}

<div>
    <h1>Django 🤝🏻 Vue</h1>

    <div class="card">
        {{ homepage_count_button_props | json_script:"homepage-count-button-props" }}
        <span id="homepage-count-button">
            <button type="button" disabled>count is {{ homepage_count_button_props.count | default_if_none:0 }}</button>
        </span>
        <p>
            Edit
            <code>components/HelloWorld.vue</code> to test HMR
        </p>
    </div>

    <p>
        Check out
        <a href="https://vuejs.org/guide/quick-start.html#local" target="_blank"
        >create-vue</a
        >, the official Vue + Vite starter
    </p>
    <p>
        Learn more about IDE Support for Vue in the
        <a
                href="https://vuejs.org/guide/scaling-up/tooling.html#ide-support"
                target="_blank"
        >Vue Docs Scaling up Guide</a
        >.
    </p>
    <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
</div>
</body>
</html>