{% load django_vite %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Setting Up Django for Success</title>
    {% vite_hmr_client %}
    <link rel="stylesheet" href="{% vite_asset_url 'src/style.css' %}">
    {% vite_asset "src/main.ts" defer="" %}
</head>
<body>
{% if user.is_authenticated %}
    <p>Logged in as {{ user.email }}</p>
    <form action="{% url 'account_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>Click <a class="text-blue-600" href="{% url 'account_login' %}">here</a> to log-in</p>
{% endif %}

<div>
    <h1 class="p-8 text-6xl inline-block font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500  to-red-500">
        Setting Up Django for Success
    </h1>

    <div class="card">
        {{ homepage_count_button_props | json_script:"homepage-count-button-props" }}
        <span id="homepage-count-button">
            <button class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white pointer-events-none opacity-50 shadow-none ml-2" type="button" disabled>count is {{ homepage_count_button_props.count | default_if_none:0 }}</button>
        </span>
        <p>
            Edit
            <code>components/HelloWorld.vue</code> to test HMR
        </p>
    </div>

    <p>
        Check out
        <a href="https://vuejs.org/guide/quick-start.html#local" target="_blank"
        >create-vue</a
        >, the official Vue + Vite starter
    </p>
    <p>
        Learn more about IDE Support for Vue in the
        <a
                href="https://vuejs.org/guide/scaling-up/tooling.html#ide-support"
                target="_blank"
        >Vue Docs Scaling up Guide</a
        >.
    </p>
    <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
</div>
</body>
</html>